<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1 style="text-align: center;">Short URL</h1>
        <form action="" method="POST" style="display: block; text-align: center;" class="my-4 form-inline">
            <label for="FullUrl"></label>
            <input required placeholder="Url" type="url" name="FullUrl" id="FullUrl">
            <button class="btn btn-success" type="submit">Submit</button>
        </form>
        <table class="table table-striped table-responsive">
            <thead>
                <tr>
                    <th>Full URL</th>
                    <th>Short URL</th>
                    <th>Clicks</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="https://www.synerry.com">https://www.synerry.com</a></td>
                    <td><a href="/123333">1324</a></td>
                    <td>10</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>